
a{
    border-radius: 18px;
}
a:hover{
    text-decoration: none;
    background-color:  rgb(12, 47, 75);
    margin-top: -0.1rem;
    box-shadow: 10px 10px 5px 0px rgb(59, 69, 165);
    transition: all 0.3s;
}

.Cuerpo{
    padding-top: .1rem;
    min-height: 11vh;
}
.Ocultar{
    display: none;
}
.Mostrar{
    display: block;
}

*{
    font-family: 'Poppins';
}

@media (min-width: 768px) {
    html {
      font-size: 16px;
    }
    .botones{
      justify-content: end;
    }
  }

span{
    margin-right: .5rem;
}
